{%extends 'base.html'%} {% load crispy_forms_tags %} {%block content%}
<section class="py-5">
  <div class="my-4">
    <div>
      <div class="row g-3">
        <div class="col-12 col-lg-7">
          <img src="{{car.image.url}}" style="width: 100%" />
        </div>
        <div class="col-12 col-lg-5 d-flex align-items-center">
          <div
            class="p-3 d-flex flex-column justify-content-between align-items-between"
          >
            <div>
              <h2 class="fw-bold">{{car.name|title}}</h2>
              <h4>Brand: {{car.brand|title}}</h4>
            </div>
            <div class="my-3">
              <h4 class="text-success fw-bold">Price: $ {{car.price}}</h4>
              <h5 class="mb-4">Quantity: {{car.quantity}} Pcs</h5>
            </div>
            <div>
              <a href="#" class="btn btn-warning px-4">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-4">
          <div class="mb-5">
            <h4 class="mb-3">Descripiton</h4>
            <p style="white-space: pre-wrap; font-size: 17px">
              {{car.description|safe}}
            </p>
          </div>
          <div>
            <h4 class="mb-4">
              <b>{{car.title}}</b>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
